{{ define "main" -}}
<div class="post">
  <div>
	<span id="title">{{ .Title }}</span>
	{{ if .Description }}
	<span id="description"> &mdash; {{ .Description }}</span>
	{{ end }}
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}<span>
  </div>
  {{ .Content }}
  {{ with .Params.tags }}
  <div id="tags">
	  <span>
		  {{ range . }}
			<a class="tag" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
		  {{ end }}
	  </span>
  </div>
  {{ end }}
</div>


{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
